[Unit]
Description=cotize
After=network.target

[Service]
User=root
ExecStart=/usr/bin/java -jar -XX:+UseG1GC -XX:+UseStringDeduplication /opt/cotize/{{ package }}

[Install]
WantedBy=multi-user.target