<!--
  Licence Public Barmic
  copyright 2014-2016 Michel Barret <michel.barret@gmail.com>
-->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div id="getting-started">
            <h2>Liste des projets</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Montant</th>
                    <th>Auteur</th>
                    <th>Supprimer</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="project in projects.content">
                    <td>
                        <a title="Administration du projet"
                           data-ng-href="{{prefix.scheme}}://{{prefix.url}}/#/project/{{project.identifier}}/admin/{{project.passAdmin}}">{{project.name}}</a>
                    </td>
                    <td>{{project.description | limitTo:25}}</td>
                    <td>{{project.amount}}</td>
                    <td>{{project.author}}</td>
                    <td>
                        <button data-ng-click="del.projectIndex = $index" class="btn btn-danger" data-ng-if="del.projectIndex != $index">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <button data-ng-click="del.projectIndex = -1" class="btn btn-warning" data-ng-if="del.projectIndex == $index">
                            Annuler
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        </button>
                        <button data-ng-click="projects.remove($index)" class="btn btn-danger" data-ng-if="del.projectIndex == $index">
                            Supprimer ?
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>