<!--
  Licence Public Barmic
  copyright 2014 Michel Barret <michel.barret@gmail.com>
-->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div id="getting-started">
            <h2>Résultat du projet {{project.content.name}}</h2>
            <p>
                Lien de participation au projet : <a>{{prefix.scheme}}://{{prefix.url}}/#/project/{{project.content.identifier}}</a><br/>
                Le projet a déjà réunis {{project.content.amount}}
            </p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Contribution</th>
                    <th>Relancer</th>
                    <th>Payé ?</th>
                    <th>Supprimer</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="contributor in project.content.contributions">
                    <td>
                        <a title="Éditer la contribution"
                           href="{{prefix.scheme}}://{{prefix.url}}/#/project/{{project.content.identifier}}/contribution/{{contributor.contributionId}}">{{contributor.author}}</a>
                    </td>
                    <td>{{contributor.amount}}</td>
                    <td>
                        <button ng-if="!contributor.payed" ng-click="contrib.payed(contributor.contributionId)" class="btn btn-primary">Relancer</button>
                    </td>
                    <td>
                        <!--<button ng-click="contrib.payed(contributor.contributionId)" class="btn btn-primary">Payé</button>-->
                        <button ng-click="contrib.payed($index)"
                                class="btn" ng-class="{true:'btn-success', false:'btn-primary'}[contributor.payed]">
                            {{contributor.payed  ? "Payé" : "À payer"}}
                        </button>
                    </td>
                    <td>
                        <button ng-click="contrib.remove(contributor.contributionId)" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>