<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <p class="lead">
            Ce site a pour objectif de permettre de se cotiser.<br/>
            Pour cela vous pouvez créer un projet et donner à vos amis un lien pour
            qu'ils indiquent de combien ils souhaitent participer.
        </p>
    </div>
</div>

<div class="row">
    <div class="alert alert-danger" role="alert" ng-if="project.error.length > 0">
        <h3>Erreur !</h3>
        <p>
            <ul>
                <li ng-repeat="error in project.error">{{error}}</li>
            </ul>
        </p>
    </div>

    <div class="alert alert-success" role="alert" ng-if="project.state == 'created'">
        <h3>La création du projet s'est bien déroulée !</h3>

        <p>
        <ul>
            <li>Lien à fournir aux participants : <a ng-href="{{prefix.scheme}}://{{prefix.url}}/#/project/{{project.content.identifier}}">{{prefix.scheme}}://{{prefix.url}}/#/project/{{project.content.identifier}}</a>
            </li>
            <li>Lien d'administration du projet : <a
                    ng-href='{{prefix.scheme}}://{{prefix.url}}/#/project/{{project.content.identifier}}/admin/{{project.content.passAdmin}}'>{{prefix.scheme}}://{{prefix.url}}/#/project/{{project.content.identifier}}/admin/{{project.content.passAdmin}}</a>
            </li>
        </ul>
        </p>
    </div>

    <div class="col-sm-10 col-sm-offset-1">
        <h2>Créer un projet</h2>

        <div role="form" class="form-horizontal">
            <fieldset>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 control-group">
                            <label for="name" class="control-label">Nom du projet</label>

                            <div class="input-group">
                                <input type="text" class="form-control" id="name" name="name"
                                       placeholder="Anniversaire de ..." ng-model="newproject.name" required/>
                            </div>
                        </div>
                        <div class="col-sm-3 control-group">
                            <label for="author" class="control-label">Créateur</label>

                            <div class="input-group">
                                <input id="author" class="form-control" type="text" name="author"
                                       placeholder="moi" ng-model="newproject.author" required/>
                            </div>
                        </div>
                        <div class="col-sm-3 control-group">
                            <label for="mail" class="control-label">Addresse e-mail</label>

                            <div class="input-group">
                                <!--<span class="input-group-addon">@</span>-->
                                <input id="mail" class="form-control" type="mail" name="mail"
                                       placeholder="prenom.nom@exemple.net" ng-model="newproject.mail" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 control-group">
                            <label for="description" class="control-label">Description</label>

                            <div class="input-group">
                                    <textarea type="text" class="form-control" id="description" name="description"
                                              placeholder="Description..." ng-model="newproject.description" required></textarea>
                            </div>
                        </div>
                        <div class="col-sm-3 form-action">
                            <button ng-click="project.create()" class="btn btn-primary" style="maring: 15px" type="submit">Créer</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div><!-- form -->
    </div>
</div>