<!--
  Licence Public Barmic
  copyright 2014 Michel Barret <michel.barret@gmail.com>
-->
<div id="project" class="row col-sm-8 col-sm-offset-2">
    <h2>{{project.content.name}}</h2>
    <p>{{project.content.description}}</p>

    <!--[% IF user %]-->
    <!--<div class="alert alert-success" role="alert">-->
        <!--<p>-->
            <!--Merci d'avoir participé [% user %].</br>-->
            <!--<a href="">Modifier votre contribution.</a>-->
        <!--</p>-->
    <!--</div>-->
    <!--[% END %]-->

    <h3>Contributions</h3>
    <p>Le projet a déjà réunis {{project.content.amount}} € !</p>
    <!--[% IF project.see_contributors %]-->
    <!--<p>La liste des participants est :</p>-->
    <!--<ul>-->
        <!--[% FOREACH contributor IN contributors %]-->
        <!--<li>[% contributor.name %]</li>-->
        <!--[% END %]-->
    <!--</ul>-->
    <!--[% END %]-->

    <div class="alert alert-success [% success %]" role="alert" ng-show="contribution.state">
        Merci pour votre contribution !</br>
        Vous pouvez éditer celle-ci avec le lien suivant !
    </div>

    <h3>Participez</h3>
    <div role="form" class="form-horizontal">
        <fieldset>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 control-group">
                        <label for="username" class="control-label">Votre nom</label>
                        <div class="input-group">
                            <input type="text" name="username" class="form-control" placeholder="nom" ng-model="contribution.author" required />
                        </div>
                    </div>
                    <div class="col-sm-3 control-group">
                        <label for="amount" class="control-label">Votre participation</label>
                        <div class="input-group">
                            <input type="number" min="1" name="amount" class="form-control" placeholder="100" ng-model="contribution.amount" required />
                            <span class="input-group-addon">€</span>
                        </div>
                    </div>
                    <div class="col-sm-3 control-group">
                        <label for="email" class="control-label">Votre e-mail</label>
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="email" name="email" class="form-control" placeholder="nom.prenom@exemple.net" ng-model="contribution.mail" required />
                        </div>
                        <p>
                            Permet d'éditer votre contribution
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-action">
                        <button ng-click="create.contribution()" type="submit" class="btn btn-primary">Participer</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
