<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <p class="lead">
            Ce site a pour objectif de permettre de se cotiser.<br/>
            Pour cela vous pouvez créer un projet et donner à vos amis un lien pour
            qu'ils indiquent de combien ils souhaitent participer.
        </p>
    </div>
</div>

<div class="row">
    <div class="alert alert-danger" role="alert" data-ng-if="project.error.length > 0">
        <h3>Erreur !</h3>
        <p>
            <ul>
                <li data-ng-repeat="error in project.error">{{error}}</li>
            </ul>
        </p>
    </div>

    <div class="alert alert-success" role="alert" data-ng-if="project.state == 'created'">
        <h3>La création du projet s'est bien déroulée !</h3>

        <p>
        <ul>
            <li>Lien à fournir aux participants : <a data-ng-href="{{prefix.scheme}}://{{prefix.url}}/#/project/{{project.content.identifier}}">{{prefix.scheme}}://{{prefix.url}}/#/project/{{project.content.identifier}}</a>
            </li>
            <li>Lien d'administration du projet : <a
                    data-ng-href='{{prefix.scheme}}://{{prefix.url}}/#/project/{{project.content.identifier}}/admin/{{project.content.passAdmin}}'>{{prefix.scheme}}://{{prefix.url}}/#/project/{{project.content.identifier}}/admin/{{project.content.passAdmin}}</a>
            </li>
        </ul>
        </p>
    </div>

    <div class="col-sm-10 col-sm-offset-1">
        <h2>Créer un projet</h2>

        <div role="form" class="form-horizontal">
            <fieldset>
                <div class="container">
                    <div class="form-group">
                        <div class="col-sm-4 col-md-3 control-group">
                            <label for="name" class="control-label">Nom du projet</label>                    
                            <input type="text" class="form-control" id="name" name="name"
                                   placeholder="Anniversaire de ..." data-ng-model="newproject.name" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8 col-md-6 control-group">
                            <label for="description" class="control-label">Description</label>
                            <trix-editor angular-trix class="trix-content" id="description" name="description"
                                      placeholder="Description..." data-ng-model="newproject.description" required></trix-editor>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-md-3 control-group">
                            <label for="author" class="control-label">Créateur</label>
                            <input id="author" class="form-control" type="text" name="author"
                                    placeholder="Prénom" data-ng-model="newproject.author" required />
                        </div>

                        <div class="col-sm-4 col-md-3 control-group">
                            <label for="mail" class="control-label">Addresse e-mail</label>
                            <input id="mail" class="form-control" type="email" name="mail"
                                   placeholder="prenom.nom@mail.com" data-ng-model="newproject.mail" required />
                        </div>
                    </div>

                    <button data-ng-click="project.create()" class="btn btn-primary" type="submit">Créer</button>

                </div>
            </fieldset>
        </div><!-- form -->
    </div>
</div>
